<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "align_to_page_center form-forgot" }) do |f| %>
  <h2 class="text-center"><%= I18n.t('devise.passwords.forgot_password') %></h2>
  <div class="field">
    <label for="inputEmail" class="sr-only"><%= f.label :email %></label>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: I18n.t('email') %>
  </div><br>

  <div class="actions">
    <%= f.submit I18n.t('devise.passwords.reset_password'), class: "btn btn-lg btn-primary btn-block" %>
  </div>

  <%= render "users/shared/links" %>
<% end %>
