<% if user_signed_in? %>
  <!-- Topnav -->
  <nav class="navbar navbar-top navbar-expand navbar-dark bg-dark border-bottom ">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Navbar links -->
        <ul class="navbar-nav align-items-center  ml-md-auto ">
          <li class="nav-item d-xl-none">
            <!-- Sidenav toggler -->
            <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main" id="header_drawer">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </div>
          </li>
        </ul>
        <ul class="navbar-nav align-items-center  ml-auto ml-md-0 ">
          <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <div class="media align-items-center">
                  <span class="avatar avatar-sm rounded-circle">
                    <%= image_tag 'profile_icon.png', alt: "#"%>
                    <!--                  <img alt="Image placeholder" src="#">-->
                  </span>
                <div class="media-body  ml-2  d-none d-lg-block">
                  <span class="mb-0 text-sm  font-weight-bold"><%= current_user.present? ? current_user.email : nil %></span>
                </div>
              </div>
            </a>
            <div class="dropdown-menu  dropdown-menu-right ">
              <%= link_to edit_user_registration_path, :class => "dropdown-item" do %>
                <i class="ni ni-single-02"></i>
                <span><%= current_user.email.split("@")[0] %></span>
              <% end %>
              <div class="dropdown-divider"></div>
              <%= link_to destroy_user_session_path, method: "DELETE", class: "dropdown-item" do %>
                <i class="ni ni-user-run"></i>
                <span>Logout</span>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<% end %>

<script type="text/javascript">
    $("#header_drawer").click("[data-action]", function(e) {
        var action = $(this).data('action');
        // Manage actions

        switch (action) {
            case 'sidenav-pin':
                pinSidenav();
                break;

            case 'sidenav-unpin':
                unpinSidenav();
                break;
        }
    })
</script>
